<div class="container">
    <div class="card container pt-3" style="max-width: 100%;margin-top: 10%;margin-bottom: 14%; ">
        <h4 class="card-title mb-4">Email</h4>
        <form method="post" action="/forgot-password">
            <div class="mb-3">
                <input class="form-control" name="email" placeholder="Email" type="text" id="email">
                <div class="error-message" id="email-error"></div>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary">Verify</button>
            </div>
        </form>

        <p class="text-center mb-4">Don't have account? <a href="/register">Sign up</a></p>
    </div>
</div>