

<div class="container border-radius-5">
    <div class="card container" style="max-width: 500px;margin-top: 14%;margin-bottom: 14%;">
        <form action="/login" method="POST" class="card-body" id="login-form">
            <fieldset>
                <legend>
                    <h3>LOGIN</h3>
                </legend>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                    <small class="h-3"></small>

                </div>
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        <small class="h-3"></small>
                    <i class="bi bi-eye-slash" id="togglePassword"
                        style="position: relative;z-index: 8; left: 400px;top: -30px; width: 0%; cursor: pointer;"></i>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="text-muted" href="/forgot-password">Forgot password?</a>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                    class="link-danger">Register</a></p>

                <div class="form-group text-center  ">
                    <span><br> or </br> </span>
                </div>

                <div class="form-group ">

                    <ul class="row list_none text-center mb-2">
                        <li class="col"><a href="#" class=" btn btn-primary hover-up ">Login With Facebook</a></li>
                        <li class="col"><a href="#" class="btn btn-success hover-up">Login With Google</a></li>
                    </ul>
                </div>


            </fieldset>
        </form>
    </div>

</div>

<script src="/javascript/loginValidation.js"></script>